.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 1.6rem auto 0 auto;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.header h2 {
  color: #f8f9fa;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.96px;
}
.header p {
  color: #f8f9fa;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.18px;
}
