*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #212529;
  color: #f8f9fa;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

.ag-cell[col-id="Capa"],
.ag-cell[col-id="Capa"] > .ag-cell-wrapper,
.ag-cell[col-id="Capa"] > .ag-cell-wrapper > .ag-cell-value {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
  border: none !important;
}

/* Garante que a imagem ocupe 100% sem espaços */
.ag-cell[col-id="Capa"] img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}
main {
  margin-top: 2.4rem;
}
